<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
</style>
</head>

<body>
 <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="style.css"/>

<!--HEADER -->
<div class="header">
  <h1> Emeline Mullier </h1>
  <h2> Data Science - Neuroscience </h2>
</div>

<!--NAVBAR -->
<div class="navbar">
  <a href="#" class="active"> About me </a>
  <a href="#section_education"> Education </a>
  <a href="#section_experience"> Experience </a>
  <a href="#section_contact" class="right"> Contact </a>
</div>


<!--MAIN ABOUT ME-->
<div class="row">
  <div class="side">
     <img style="width:50%" src="images/pic_emu.png" /> 
  <p> I am a research scientist with an engineering background with over 6 years of experience in neurosciences applications at the intersection of signal processing, statistics, and machine learning. I have a strong experience both in academia and start-up environments, working in highly dynamic environments to bring and deploy innovative research solutions to users. Looking for my next new technical challenge to unravel brain and body mechanisms using cutting-edge technologies in stimulating teams valuing collaborative culture flexibility and well-being and meaningful work.</p>  
  <!-- Add font awesome icons -->
  <a href="#" class="fa fa-github"></a>
  <a href="#" class="fa fa-twitter"></a>
  </div>
  
    <div class="main">
	<img style="width:70%; " src="images/SkillsDiagram_grey_noBg.png" class="center"/> 
	</div>
</div>

<!--NAVBAR -->
<div class="navbar">
	<a href="#" >  </a>
</div>
	
<!--MAIN EDUCATION--> 
<h2> EDUCATION </h2>
<div id="section_education" class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        January 2016 <br> March 2020
      </div>
      <div class="item-title"> Ph.D. in Neuroscience  </div>
      <div class="item-detail">Lausanne University Hospital</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        September 2012<br>September 2015 
	  </div>
      <div class="item-title">M.Sc in Engineering</div>
      <div class="item-detail">Ecole Centrale Marseille</div>
    </li>
  </ul>
</div>

<!--NAVBAR -->
<div class="navbar">
	<a href="#" >  </a>
</div>
	
<!--MAIN EXPERIENCE--> 
<h2> EXPERIENCE </h2>
<div id="section_experience" class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        April 2021 <br> Current
      </div>
      <div class="item-title"> Neuroscience Application Specialist  </div>
      <div class="item-detail">Seenel Imaging </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        April 2020 <br> April 2021 
	  </div>
      <div class="item-title">Postdoctoral Researcher</div>
      <div class="item-detail">Autism and Brain Behaviour Lab | University of Geneva </div>
    </li>
   <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        January 2016 <br> March 2020 
	  </div>
      <div class="item-title">Ph.D. Candidate in Neuroscience</div>
      <div class="item-detail"> Connectomics Lab | Lausanne University Hospital </div>
    </li>
  </ul>
</div>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Auto width -->
<button class="btn"><i class="fa fa-download"></i> Download</button>
<!-- Full width -->
<button class="btn" style="width:100%"><i class="fa fa-download"></i> Download</button>


 <div class="footer">
  <p> Copyright Emeline Mullier 2022 </p>
</div>
 
 
</body>
</html>

